.loginButton {
  color: var(--AIVLE-02-gray-gray-08, #717171);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
  border: none;
  border-radius: 8px;
}

.loginButton:hover {
  background-color: white;
}
