  /* Navbar.module.css */
  .navbarWrapper {
    width: 100%;
    border-bottom: 1px solid #ddd;
    background: #FFF;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    max-height: 1440px;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 1px solid #ddd;
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--AIVLE-02-secondary_navy-navy-06, #002B5E); /* 진한 파란색 */
  }

  .logoLink {
    text-decoration: none;
    color: inherit;
  }

  .menu {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  .menuLink {
    text-decoration: none;
    font-size: 1.25rem;
    color: #333; /* 검은색 */
    font-weight: bold;
    margin: 0px 0px 0px 50px;
  }
  .menuLink:hover{
    color:var(--AIVLE-02-secondary_navy-navy-04, #2A5C96);
    
  }

  .loginButtonContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .loginButton,
  .logoutButton {
    background: none;
    border: none;
    font-size: 1rem;
    color: #777; /* 회색 */
    cursor: pointer;
  }

  .loginButton:hover,
  .logoutButton:hover {
    color: #333;
  }
