@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard-subset.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard-subset.woff') format('woff');
}

body {
  font-family: 'Pretendard', 'Noto Sans', sans-serif; /* 기본 폰트: Pretendard, 대체 폰트: Noto Sans */
  margin: 0;
  padding: 0;
}
