/* Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  max-height: 1440px;
  padding: 1rem 3rem;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #1e3a8a; /* 진한 파란색 */
}

.logoLink {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.menuLink {
  text-decoration: none;
  font-size: 1rem;
  color: #333; /* 검은색 */
  font-weight: bold;

}

.loginButtonContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginButton,
.logoutButton {
  background: none;
  border: none;
  font-size: 1rem;
  color: #777; /* 회색 */
  cursor: pointer;
}

.loginButton:hover,
.logoutButton:hover {
  color: #333;
}
